body {
  margin: 0;
  overflow: hidden;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.character {
  width: 120px;
  margin: 10px;
}
