* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url("./assets/0ef3abd7-ed24-4370-88b4-405c535d745c.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

    display: grid;
    place-items: center;
    animation: flicker 5s infinite alternate;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.503);
    z-index: -1;
}

img {
    width: 700px;
    filter: brightness(40%);
    transition: all 0.3s ease;
}

.mode:hover{
       filter: brightness(100%);
    transform: translateY(-10px);
}
.playButton:hover {
    filter: brightness(100%);
    transform: translateY(-10px);
}

.containerPlayConformation {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    pointer-events: none;

    background-image: url("./assets/ModoDeJuego.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 1400px;
    height: 1000px;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition:
        opacity 0.3s ease,
        transform 0.4s cubic-bezier(.16,1,.3,1);

    z-index: 100;
}

.containerPlayConformation.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.mode {
    width: 400px;
}

.gameMode{
    filter: brightness(100%);
}