*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url(./assets/b3537db1-ed8b-4fb3-912e-a054d69b3bcc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

      min-height: 100vh;
    display: grid;
    place-items: center;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.503); /* Ajusta el 0.6 */
    z-index: -1;
}

img{
    width: 700px;
    filter: brightness(40%);
    transition: all 0.3s ease;
}

img:hover{
    filter: brightness(100%);
    transform: translateY(-10px);
}
