body {
  background: #000;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  width: 160px;
  height: 240px;
  perspective: 1000px;
  cursor: pointer;
}


/*imagenes*/

img{
  width: 150px;
  height: 230px;
  border-radius: 15px;
}



.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: 15px;
  display: grid;
  place-items: center;
  backface-visibility: hidden;
}

.card-front {
  font-size: 3rem;
}

.card-back {
  transform: rotateY(180deg);
  padding: 1rem;
}
